* {
  box-sizing: border-box;
}

body {
  background-color: #EEF1FF;
}

h1,
h2,
#updateMessage {
  text-align: center;
  color: #B1B2FF;
}

#title {
  margin-top: 50px;
  margin-bottom: 150px;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 120px;
}

.btn {
  width: 280px;
  height: 280px;
  background-color: #D2DAFF;
  border: none;
  border-radius: 120px;
}

#result {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#one,
#two {
  width: 300px;
  height: 200px;
  background-color: #D2DAFF;
  border: D2DAFF;
  border-radius: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25316D;
}

#result p {
  font-size: 40px;
}

.gold-font {
  color: gold;
}

#updateMessage {
  text-align: center;
}